body{
	background-image: linear-gradient(white, red);
	width: 960px;
	height: 647px;
}

div.satu{
	background-image: linear-gradient(to bottom,blue, white);
	width: 760px;
	height: 420px;
	background-repeat: no-repeat;
}

div.dua{
	background-image: linear-gradient(to right, white, blue, white);
	width: 760px;
	height: 120px;
	background-repeat: no-repeat;
}